#!/usr/bin/env python
PACKAGE = "vehicle_simulator"
 
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("voxel_size", double_t, 0, "Voxel size (m)", 0.1, 0.01, 1.0)
gen.add("file_path", str_t, 0, "Save path", "/home/joosoo/Dynamic_explorer/base_workspace/src/vehicle_simulator/ply/hospital_small.ply") 
gen.add("save_trigger", bool_t, 0, "Save trigger", False)

exit(gen.generate(PACKAGE, "vehicle_simulator", "Map")) 