<launch>
  <arg name="world_name" default="scene_1"/>
  <arg name="vehicleHeight" default="0.75"/>
  <arg name="cameraOffsetZ" default="0"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="checkTerrainConn" default="true"/>

  <arg name="stateEstimationTopic" default="/state_estimation"/>
  <arg name="depthCloudTopic" default="/rgbd_camera/depth/points"/>
  <arg name="depthCloudDelay" default="0"/>
  <arg name="depthCamPitchOffset" default="0"/>
  <arg name="depthCamXOffset" default="0"/>
  <arg name="depthCamYOffset" default="0"/>
  <arg name="depthCamZOffset" default="0"/>
  <arg name="trackingCamBackward" default="false"/>
  <arg name="trackingCamXOffset" default="0"/>
  <arg name="trackingCamYOffset" default="0"/>
  <arg name="trackingCamZOffset" default="0"/>
  <arg name="trackingCamScale" default="1.0"/>
  <arg name="vehicleX" default="3.5"/>
  <arg name="vehicleY" default="1.5"/>
  <arg name="vehicleZ" default="0.75"/>
  <arg name="vehicleYaw" default="0"/>
  <arg name="terrainZ" default="0"/>
  <arg name="config" default="indoor"/>

  <include file="$(find local_planner)/launch/local_planner_$(arg config).launch" >
    <arg name="stateEstimationTopic" value="$(arg stateEstimationTopic)" />
    <arg name="depthCloudTopic" value="$(arg depthCloudTopic)" />
    <arg name="depthCloudDelay" value="$(arg depthCloudDelay)" />
    <arg name="depthCamPitchOffset" value="$(arg depthCamPitchOffset)" />
    <arg name="depthCamXOffset" value="$(arg depthCamXOffset)" />
    <arg name="depthCamYOffset" value="$(arg depthCamYOffset)" />
    <arg name="depthCamZOffset" value="$(arg depthCamZOffset)" />
    <arg name="trackingCamBackward" value="$(arg trackingCamBackward)" />
    <arg name="trackingCamXOffset" value="$(arg trackingCamXOffset)" />
    <arg name="trackingCamYOffset" value="$(arg trackingCamYOffset)" />
    <arg name="trackingCamZOffset" value="$(arg trackingCamZOffset)" />
    <arg name="trackingCamScale" value="$(arg trackingCamScale)" />
  </include>

  <!-- for worlds -->
  <!-- <include file="$(find vehicle_simulator)/launch/vehicle_gazebo_sm.launch" >
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="vehicleHeight" value="$(arg vehicleHeight)"/>
    <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
    <arg name="sensorPitch" value="$(arg depthCamPitchOffset)" />
    <arg name="vehicleX" value="$(arg vehicleX)"/>
    <arg name="vehicleY" value="$(arg vehicleY)"/>
    <arg name="vehicleYaw" value="$(arg vehicleYaw)"/>
    <arg name="terrainZ" value="$(arg terrainZ)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include> -->

  <!-- for scene -->
  <include file="$(find vehicle_simulator)/launch/vehicle_gazebo.launch" >
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="vehicleHeight" value="$(arg vehicleHeight)"/>
    <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
    <arg name="sensorPitch" value="$(arg depthCamPitchOffset)" />
    <arg name="vehicleX" value="$(arg vehicleX)"/>
    <arg name="vehicleY" value="$(arg vehicleY)"/>
    <arg name="vehicleYaw" value="$(arg vehicleYaw)"/>
    <arg name="terrainZ" value="$(arg terrainZ)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <include file="$(find visualization_tools)/launch/visualization_tools.launch" >
    <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizGA" args="-d $(find vehicle_simulator)/rviz/vehicle_simulator.rviz" respawn="true"/>
</launch>
